# Configurações do Servidor
PORT=3000

# Senha de Administração (altere para uma senha segura)
ADMIN_PASSWORD=sua_senha_aqui

# Configurações do Sistema
LIMITE_SENTADOS=23
BANCOS_TRASEIROS=5
LIMITE_PARA_BANCOS_TRASEIROS=18
